    <div class=".container-fluid ">
<div class="col-md-2 col-md-offset-5">
  
  
      
       <%= form_for(:session, url: login_path) do |f| %>
        <h2 class="form-signin-heading">Please sign in</h2>
      
       
         
         <%= f.number_field :id, class: "form-control", placeholder: "Student ID"%>
         
          
          <%= f.password_field :password, class: "form-control", placeholder: "Password"%>

         <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
         <% end %>
      
         <p>New user? <%= link_to "Sign up now!", signup_url %></p>
    </div>
</div>


   