<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :users %><br>
    Please enter the student/staff numbers of the users you wish to oranganise a meeting with.
    For example: "123456789,123456788,12344567"<br>
    <%= f.text_field :users %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_field :day %>
    
    <%= f.hidden_field :algorithm, :value => 1 %>

  <div class="actions">
  <%= f.submit "Find Suitable Times", :class => 'btn btn-sm btn-primary'%>
  </div>
  </div>
<% end %>


