<div class="col-md-4 col-md-offset-4">
  <table class="table table-hover">

    <thead>
      <tr>
        <th>Suitable Times on <%=@results[0].strftime("%A, %B %e") %>   </th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <%= form_for(@meeting) do |f| %>
        <% @results.each do |result| %>
            <tr>
              <td><%= result.strftime("%H:%M%p")  %></td>
              <td><%= f.hidden_field :start_time, :value => result %><%= f.hidden_field :algorithm, :value => 0 %><%= f.submit "Organise Meeting", value: "Organise Meeting", name: :start_time, :class => 'btn btn-sm btn-primary' %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>

