<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @personal_event.user %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @personal_event.event_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @personal_event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @personal_event.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @personal_event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @personal_event.end_time %>
</p>

<%= link_to 'Edit', edit_personal_event_path(@personal_event) %> |
<%= link_to 'Back', personal_events_path %>
