<h3>Your Modules</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <th>User</th>
        <th>Module code</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @registered_fors.each do |registered_for| %>
      <tr>
        <td>
          <%= registered_for.user_id %>
        </td>
        <td>
          <%= registered_for.module_code %>
        </td>
        <td>
          <%= link_to 'Remove', registered_for, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
<div class="panel-footer">Total credits: <%= showCredits %></div>
</div>
<%= link_to 'Add New Modules', addmodules_path %>
