
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id,  class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name,class: "form-control" %>
  </div>
  <!--<div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email,class: "form-control" %>
  </div>-->
  <div class="field">
    <%= f.label :phone_num %><br>
    <%= f.text_field :phone_num,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :user_type_id %><br>
    <%= f.radio_button :user_type_id, 1%>
    <%= label :user_type_id_student, 'Student' %>
    <%= f.radio_button :user_type_id, 2 %>
    <%= label :user_type_id_staff, 'Staff' %>
  </div>
  <!--<div class="field">
    <%= f.label :activated %><br>
    <%= f.check_box :activated %>
  </div> -->
  <div class="actions">
    <%= f.submit "Create User"%>
  </div>
  </div>
<% end %>
