
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id,  class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name,class: "form-control" %>
  </div>
  <% if(logged_in?) && (admin?) %>
    <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email,class: "form-control" %>
      </div>
  <% end %>
  <div class="field">
    <%= f.label :phone_num %><br>
    <%= f.text_field :phone_num,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation,class: "form-control" %>
  </div>
  <hr/>
  <div>
    <div class="field col-md-4 col-md-offset 4" id="signup-public-select">
      <%= f.label :public_profile %><br>
      <%= f.radio_button :public_profile, true%>
      <%= label :public_profile_true, 'Yes' %>
      <br>
      <%= f.radio_button :public_profile, false %>
      <%= label :public_profile_false, 'No' %>
    </div>
    <div class="field col-md-8 col-md-offset 8">
      <div class="alert alert-warning" role="alert" id="signup-public-note">
        <p>What does this do? If you click yes it will allow your class mates to look up your student ID in our directory. If you do not want your ID public select no (this might
            make it harder to invite you to meetings). This option can be changed at a later date.</p>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create User", class: "btn btn-primary"%>
  </div>
  </div>
<% end %>
