<div class="col-md-6 col-md-offset-3">
<p id="notice"><%= notice %></p>

<h1>Welcome <% "#{@user.first_name} #{@user.last_name} "%></h1>

<p>
  <strong>User type:</strong>
  <%= @user.user_type_id %>
</p>

<p>
  <strong>User ID Number:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>