<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type_id %>
</p>

<p>
  <strong>User ID Number:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @user.activated %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
