<div class="col-md-6 col-md-offset-3">
<h1>Listing users</h1>

<%= link_to 'New User', newstaff_path, class: "btn btn-default" %>
<div class="panel panel-default">
   <div class="panel-body">
<table class="table table-hover">
  <thead>
    <tr>
       <th>Staff ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staff.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_num %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<br>


</div>