<%= form_for(@class_schedule) do |f| %>
  <% if @class_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_schedule.errors.count, "error") %> prohibited this class_schedule from being saved:</h2>

      <ul>
      <% @class_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :module_code %><br>
    <%= f.text_field :module_code %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label "Start Time" %><br>
    <%= f.time_field :time_s %>
  </div>
  <div class="field">
    <%= f.label "End Time" %><br>
    <%= f.time_field :time_e %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "How many weeks should this event repeat for?" %><br>
    <%= f.number_field :repeats %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
