<p id="notice"><%= notice %></p>

<p>
  <strong>Subjects:</strong>
  <%= @class_schedule.subjects %>
</p>

<p>
  <strong>Module code:</strong>
  <%= @class_schedule.module_code %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @class_schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @class_schedule.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @class_schedule.location %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @class_schedule.cancelled %>
</p>

<%= link_to 'Edit', edit_class_schedule_path(@class_schedule) %> |
<%= link_to 'Back', class_schedules_path %>

</div>