<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Module code</th>
      <th>Description</th>
      <th>Lecturer</th>
      <th>Credits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.module_code %></td>
        <td><%= subject.description %></td>
        <td><%= subject.lecturer_id %></td>
        <td><%= subject.credits %></td>
        <td><%= link_to 'Show', subject %>
            <%= link_to 'Edit', edit_subject_path(subject) %>
            <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
