<div class="col-md-2 col-md-offset-5">
<%= link_to 'Edit', edit_subject_path(@subject) ,class: "btn btn-default"  %> |
<%= link_to 'Back', subjects_path,class: "btn btn-default"  %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Module code:</strong>
  <%= @subject.module_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @subject.lecturer_id %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @subject.credits%>
</p>

</div>