<p id="notice"><%= notice %></p>

<p>
  <strong>Module code:</strong>
  <%= @subject.module_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @subject.lecturer_id %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @subject.credits%>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
